/*@font-face {
    font-family: 'ubuntu';
    src: url('../font/ubuntu/ubuntu-webfont.eot');
    src: url('../font/ubuntu/ubuntu-webfont.eot') format('embedded-opentype'),
         url('../font/ubuntu/ubuntu-webfont.woff') format('woff'),
         url('../font/ubuntu/ubuntu-webfont.ttf') format('truetype'),
         url('../font/ubuntu/ubuntu-webfont.svg#ubuntu') format('svg');
}*/